/* NewLetter.css */

.newletter {
    text-align: center;
    padding: 40px;
    background-color: #a9bdcb;
    color: #fff;
  }
  
  .newletter h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .newletter p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .newletters {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .newletters input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 500px;
    margin-bottom: 70px;
  }
  
  .newletters button {
    padding:  10px;
    
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 500px;
   
  }
  
  .newletters button:hover {
    background-color: #27ae60;
  }
  